.movie-container {
  /* background-color: orange; */
  width: 340px;
  
}
.movier-poste {
  width: 340px;
  height: 500px;
  object-fit: cover;
}
.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
}
.buttons{
  margin-right: 5px;
}
